<!DOCTYPE html>
<html>
	<head>
		<title>Team Picker</title>

		<!-- THe links to bootstrap.min.css and the css stylesheet for the app -->

		<meta carset="utf-8"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<!-- The body has the ng-app class and ng-controller class to specify the name of the app declared in app.js and pickerController files -->

	<body ng-app="PickerTeamApp" ng-controller="PickerController">
		<h1>Team Picker</h1>
		<p>Enter the names of the people who are playing and choose a skill level between 1-10.<br> Don't like the teams? Hit the "Pick Random Teams" button to keep shuffling!</p>

		<!-- the container and row classes for my form input fields and team lists -->

		<div class="container pick-team">
			<div class="row">
				
					<form class="simple-form">
						<button class="btn btn-danger" ng-click="shuffleTeams()">
						Pick Random Teams</button>
						<button class="btn btn-danger shuffle" ng-click="pickTeams()">Pick Even Teams</button>
						<select class="selectpicker" data-style="btn-primary" ng-model="totalPlayers" ng-change="changeTotal()">
							<option value="" disabled selected>Select team size</option>
						  	<option>5</option>
					      	<option>6</option>
					      	<option>7</option>
					      	<option>8</option>
					      	<option>9</option>
					      	<option>10</option>
					      	<option>11</option>
					  	</select>

					  	<!-- all col-md-3 classed elements also have the class col-xs-6 for responsive resizing -->

						<div class="col-md-3 col-xs-6" id="playerNames">
							<label>Name</label><br>
							<input type="text" class="name" ng-model="players[0].name" required><br>
							<input type="text" class="name" ng-model="players[1].name" required><br>
							<input type="text" class="name" ng-model="players[2].name" required><br>
							<input type="text" class="name" ng-model="players[3].name" required><br>
							<input type="text" class="name" ng-model="players[4].name" required><br>
							<input type="text" class="name" ng-model="players[5].name" required><br>
							<input type="text" class="name" ng-model="players[6].name" required><br>
							<input type="text" class="name" ng-model="players[7].name" required><br>
							<input type="text" class="name" ng-model="players[8].name" required><br>
							<input type="text" class="name" ng-model="players[9].name" required><br>

							<!-- all inputs below this line are removed from the DOM using ng-if, the value of which is changed to true to add them to the DOM with the ng-change on the select element -->

							<input type="text" class="name" ng-model="players[10].name" ng-if="sixASide" required><br>
							<input type="text" class="name" ng-model="players[11].name" ng-if="sixASide" required><br>
							<input type="text" class="name" ng-model="players[12].name" ng-if="sevenASide" required><br>
							<input type="text" class="name" ng-model="players[13].name" ng-if="sevenASide" required><br>
							<input type="text" class="name" ng-model="players[14].name" ng-if="eightASide" required><br>
							<input type="text" class="name" ng-model="players[15].name" ng-if="eightASide" required><br>
							<input type="text" class="name" ng-model="players[16].name" ng-if="nineASide" required><br>
							<input type="text" class="name" ng-model="players[17].name" ng-if="nineASide" required><br>
							<input type="text" class="name" ng-model="players[18].name" ng-if="tenASide" required><br>
							<input type="text" class="name" ng-model="players[19].name" ng-if="tenASide" required><br>
							<input type="text" class="name" ng-model="players[20].name" ng-if="elevenASide" required><br>
							<input type="text" class="name" ng-model="players[21].name" ng-if="elevenASide" required>
							
						</div>
						<div class="col-md-3 col-xs-6 playerSkills">
							<label>Skill Level (Out of 10)</label><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[0].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[1].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[2].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[3].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[4].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[5].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[6].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[7].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[8].skill" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[9].skill" required><br>

							<!-- all inputs below this line are removed from the DOM using ng-if, the value of which is changed to true to add them to the DOM with the ng-change on the select element -->

							<input type="number" min="1" max="10" class="rating" ng-model="players[10].skill" ng-if="sixASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[11].skill" ng-if="sixASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[12].skill" ng-if="sevenASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[13].skill" ng-if="sevenASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[14].skill" ng-if="eightASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[15].skill" ng-if="eightASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[16].skill" ng-if="nineASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[17].skill" ng-if="nineASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[18].skill" ng-if="tenASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[19].skill" ng-if="tenASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[20].skill" ng-if="elevenASide" required><br>
							<input type="number" min="1" max="10" class="rating" ng-model="players[21].skill" ng-if="elevenASide" required>
						</div>	
					</form>

					<!-- the elements below are all hidden from the user until the pick teams buttons are clicked. The ng-click fumction on moth buttons changes the values of the ng-show classes to be true. This displays them on the page. -->
					
					<div class="col-md-3 col-xs-6 teams">
						<ul>
							<h3 ng-show="showList">Team One</h3> <h5 ng-show="total">Total: {{playersOneTotal}}</h5>
							<li ng-repeat="player in playersOne track by $index" ng-show="showList"></p>{{ player.name }} ({{ player.skill }})</p></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-6 teams">
						<ul>
							<h3 ng-show="showList">Team Two</h3> <h5 ng-show="total">Total: {{playersTwoTotal}}</h5>
							<li class="teamTwo" ng-repeat="player in playersTwo track by $index" ng-show="showList"></p>{{ player.name }} ({{ player.skill }})</p></li>
						</ul>
					</div>
		</div>

		<!-- The script tags below this line contain the links to Angular JS, my app.js file and my pickerController file -->

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controllers/pickerController.js"></script>
	</body>
</html>