/* Setting the font-family of all text in the body to Avenir with a fallback of Arial */

body {
	font-family: Avenir, Arial;
}

/* Removing any styling from my lists of teams */

ul {
	list-style-type: none;
}

/* Setting the styling of the list items and the colour and border of teamOne */

li {
	border: 2px solid #af1b3f;
	background-color: #ea4335;
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	font-size: 16px;
}

h1 {
	color: #ea4335;
	text-align: center;
	margin-top: 20px;
}

h5 {
	text-align: center;
}

p {
	text-align: center;
	font-size: 16px;
	color: #777;
}

h3 {
	text-align: center;
}

label {
	color: #af1b3f;
	font-size: 16px;
}

select {
	margin-left: 40px;
	
}

/* Sets the styling of the container div for the form and team displays. This is the green box in the middle
of the page. */

.pick-team {
	background-color: #34a853;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 10px;
	padding: 50px;
	height: 100%;
}

/* Sets the padding of the individual list elements containing my players */

.teams {
	padding-top: 40px;
}

/* Using a class the below CSS styles the teamTwo list to be a different colour to team one. */

.teamTwo {
	background-color: #19b5fe;
	border: 2px solid #035996;
}

/* .rating and .name classes set the styles for the name and skill inputs. I gave them seperate classes
becuase of the difference in size. */

.rating {
	width: 20%;
	margin: 5px;
	border: 2px solid gray;
	border-radius: 5px;
}

.name {
	margin: 5px;
	border: 2px solid gray;
	border-radius: 5px;
}

/* This bit of CSS floats my shuffle teams button to the far right of the container div. */

.shuffle {
	float: right;
}